@model MVCDemo.DataAccess.Models.DetailCarViewModel
@{ 
    ViewBag.Title = "Detail Page";
}
<div>
    <p>Car Name : </p>
    <p>@Model.CarName</p>
</div>
<div>
    <p>Car MiliAge : </p>
    <p>@Model.Miliage</p>
</div>