@model DetailCarViewModel
@{ 
    ViewBag.Title = "Edit Car";
}
<div>
    <h1>Edit: @Model.CarName</h1>

    <div>
        <form method="post" asp-antiforgery="true">
            <div>
                <label asp-for="CarName"></label>
                <input asp-for="CarName" />
                <span asp-validation-for="CarName"></span>
            </div>
            <div>
                <label asp-for="Miliage"></label>
                <input asp-for="Miliage" />
                <span asp-validation-for="Miliage"></span>
            </div>
            <div>
                <label asp-for="ProducerCountry"></label>
                <select asp-for="ProducerCountry" asp-items="@Html.GetEnumSelectList(typeof(ProducerCountry))"></select>
                <span asp-validation-for="ProducerCountry"></span>
            </div>
            <div>
                <input type="submit" value="save" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

</script>
