@model HomeViewModel

@{ 
    ViewBag.Title = "Home Page";
}

<h1>Garage</h1>
@foreach(var car in Model.Cars)
{
    @Html.Partial("_CarList", car)
}

@Html.ActionLink("Create New Car", "CreateCar", "Home")

@section footer {
    <div>
        <span>
            Home Page
        </span>
    </div>
}